$font-size-map: (
  /* 40px*/ '1': 2.5rem,
  /* 32px*/ '2': 2rem,
  /* 20px*/ '3': 1.25rem,
  /* 16px*/ '4': 1rem,
  /* 14px*/ '5': 0.875rem,
  /* 10px*/ '6': 0.625rem,
  /* 12px*/ '12': 0.75rem,
  /* 24px*/ '24': 1.5rem
);

@each $font-size-number, $font-size in $font-size-map {
  .t#{$font-size-number} {
    font-size: $font-size;
    line-height: $font-size + 0.5rem;
  }

  h#{$font-size-number} {
    text-transform: uppercase;
    font-size: $font-size;
    line-height: $font-size + 0.5rem;
  }

  @include mobile {
    .t#{$font-size-number},
    h#{$font-size-number} {
      font-size: $font-size + 0.125rem;
      line-height: $font-size + 0.625rem;
    }
  }
}

h1 {
  letter-spacing: 0.075rem;
}

h2,
h3 {
  letter-spacing: 0.0375rem;
}

.t4 {
  letter-spacing: 0.03125rem;
}

.t5 {
  letter-spacing: 0.0625rem;
}

.em-high {
  font-weight: 700;
  font-family: Open Sans,-apple-system, Roboto, sans-serif;
}

.em-low,
.font-light {
  font-weight: 300;
  font-family: Open Sans,-apple-system, Roboto, sans-serif;
}

.font-regular {
  font-weight: 400;
  font-family: Open Sans,-apple-system, Roboto, sans-serif;
}

.font-medium {
  font-weight: 500;
  font-family: Open Sans,-apple-system, Roboto, sans-serif;
}

.font-bold {
  font-weight: 700;
  font-family: Open Sans,-apple-system, Roboto, sans-serif;
}

.text-uc {
  text-transform: uppercase;
}

.text-lc {
  text-transform: lowercase;
}

.text-cz {
  text-transform: capitalize;
}

.text-tn,
.text-nn {
  text-transform: none;
}
